*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    background-image: url(img/sign-up-wallpaper.jpg);
    background-size: cover;
    width: 100%;
    height: auto;

}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}


.text-uppercase{
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

nav{
    top: 0;
    color: #fff;
    padding: 1.6rem .8rem;
    display: flex;
    height: 80px;
    background-color: black;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    z-index: 1;
    opacity: 0.9;
}

nav div{
    display: inline-block;
}

nav i{
    font-size: 5.8rem;
    color: #fff;
}


.title-container{
    width: 14rem;
}

.title{
    padding-top: .5rem;
    font-size: 2rem;
    padding-left: 1.6rem;
    text-align: center;
    color: #fff;
    display: block;
}

.title:focus{
    color: lightpink;
}

.navbar{
    display: flex;
    justify-content: space-between;
    width: 50rem;
}

.navbar .navbar-item{
    padding-top: 1.5rem;
}

.navbar-item  a{
    font-size: 2rem;
    text-align: center;
    color: #fff;
}

.navbar-item .pink{
    color: lightpink;
}

.navbar-item a:hover{
    color: lightpink;
}

/*body*/

#body{
    height: 150rem;
    width: 100%;
}


#input{
    color: #fff;
    position: absolute;
    top:150px;
    background-color: black;
    height: 500px;
    width: 400px;
    left:55rem;
    opacity: 0.95;
    border-radius: 6px;
}

.input-header{
    display: block;
    width: 100%;
    height:30px;
    font-size: 2.5rem;
    margin: 2rem;
}

.input-box{
    border-radius: 4px;
    width: 100%;
    height: 40rem;
    top: 10rem;
}

.line{
    border: none;
    border-top: .4rem solid;
    overflow: visible;
    height: 0;  
    padding: 1rem;
}

label[for=email], label[for=password]{
    padding: 1rem;
    font-size: 2rem;
    font-family: 'Roboto Condensed', sans-serif;
}

label[for=signup]{
    float: right;
    font-size: 1.2rem;
}

label[for=keep-in]{
    padding: 1rem;
    font-size: 1.5rem;
    font-family: 'Roboto Condensed', sans-serif;
}

label[for=signup], label[for=password-forgot]{
    float: right;
    font-size: 1.2rem;
    padding: 1px;
}

label[for=signup] a, label[for=password-forgot] a{
    color: lightpink;
    text-decoration: underline ;
}



input[type=email], input[type=password]{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 40px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 80%;
    background-color: #fff;
    color: black;
    padding: 14px 20px;
    margin: 20px 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s;
}

input[type=submit]:hover{
    background-color: #333;
    color: #fff;
}

input[type=submit]:active{
    background-color: #fff;
    color: black;
}



.visible{
    position: absolute;
    top: 220px;
    left: 330px;
    background-color: white;
    border: none;
    font-size: 1.5rem;
    color: #333;
}

.visible:active{
    color: lightpink;
}


.link-btn{
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.link-account{
    text-align: center;
    font-size: 20px;
}

.btn{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    height: 40px;
    padding: 5px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover{
    opacity: 0.6;
}

.btn i{
    padding-top: 2px;
    padding-right: 8px;
}

.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;

}

.facebook{
    color: white;
    background-color: #3b5998;
}

.fa-facebook-square{
    border: none;
    color: white;
}

.twitter{
    color: white;
    background-color: #1DA1F2;
}

.fa-twitter-square{
    border: none;
    color: white;
}

.line-thinner{
    border: none;
    border-top: .1rem solid;
    overflow: visible;
    height: 0;  
    padding: 1rem;
    margin-top: 10px;
}